$my-gold: #f3a139;
$my-dark-grey: #1f1f1f;
$my-orange: #ff5733;
$my-red: #c70039;
$my-maroon: #900c3f;
$my-violet: #511845;
.font-myGold {
	color: $my-gold;
}
.font-myOrange {
	color: $my-orange;
}
.font-myRed {
	color: $my-red;
}
.font-myMaroon {
	color: $my-maroon;
}
.font-myViolet {
	color: $my-violet;
}
